@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
.header {
    height: 115px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.header-wrapper {
    margin: 0 auto;
    width: 1230px;
    position: relative;
    height: 100%;
}
.header > .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__menu-checkbox {
    display: none;
}
.header__menu_btn {
    margin-left: 35px;
    cursor: pointer;
}
.header__center {
    display: flex;
}
.header__center__lists {
    margin-right: 25px;
}
.header__center__lists_li {
    color: #1c2840;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
}
.header__center__lists_li:nth-child(2) {
    margin-top: 10px;
}
.header__center__lists_li-right {
    list-style: none;
}
.header__center__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
}
.header__center__social_link {
    margin-right: 8px;
}
.header__center__social_link:last-child {
    margin-right: 0;
}
.header__center__lists_li-right_link {
    color: #355b91;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.header__center__lists_li-right:nth-child(2) {
    margin-top: 6px;
}
.header__menu {
    background: rgba(28, 40, 64, .95);
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500006;
    padding-top: 45px;
    display: none;
}
.header__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__right.one {
    margin-right: 40px;
}
.header__right.one img:nth-child(2) {
    margin-top: 13px;
}
.header__right_img {
    width: 58px;
    height: 16px;
}
.header__right_img:nth-child(2)  {
    margin-top: 20px;
    width: 57px;
    height: 35px;
}
.header-slider__item_lists_li-main {
    list-style: none;
}
.header-slider__item_lists_li-main_link {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
    text-transform: uppercase;
}
.header-slider__item_lists_li-main_link:hover {
    color: #57b5bb;
}
.header-slider__item_lists_li-line {
    width: 45px;
    height: 2px;
    border-radius: 1px;
    background-color: #57b5bb;
    list-style: none;
    margin-top: 70px;
    margin-bottom: 50px;
}
.header__menu_cross {
    margin: 0 auto 0 auto;
    display: block;
    cursor: pointer;
}
.header-slider {
    margin-top: 50px;
    z-index: 5000;
}
.header-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s linear;
    display: flex;
    align-items: center;    
}
.header-slider__item_lists .header-slider__item_lists_li-link {
    list-style: none;
    height: 50px;
    display: flex;
    align-self: center;
}
.header-link-blue {
    color: #57b5bb;;
}
.header-link:hover {
    text-transform: uppercase;
    padding-left: 20px;
    transition: all 0.2s linear;
}
.header-slider .owl-next span{
    color: transparent;
}
.header-slider .owl-prev span{
    color: transparent;
}
.header-slider .owl-next {
    transform: rotate(180deg);
    width: 62px;
    height: 62px;
    background: url(../img/main-slider-arr.png) no-repeat !important;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: calc(50% - 31px);
    right: -62px;
}
.header-slider .owl-next:hover {
    transform: rotate(0);
    width: 62px;
    height: 62px;
    background: url(../img/main-slider-arr-check.png) no-repeat !important;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.header-slider .owl-prev {
    transform: rotate(0);
    width: 62px;
    height: 62px;
    background: url(../img/main-slider-arr.png) no-repeat !important;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: calc(50% - 31px);
    left: -70px;
}
.header-slider .owl-prev:hover {
    transform: rotate(180deg);
    width: 62px;
    height: 62px;
    background: url(../img/main-slider-arr-check.png) no-repeat !important;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.header_bottom-text {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 70px;
}
.header_bottom-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.contpre small {
    font-size:25px;
}
.contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}

#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(../img/oval.svg) center center no-repeat;
    background-size:41px;
    margin: -16px 0 0 -16px;
}
.header__right-big__container__item {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    display: block;
    background: #57b5bb url(../img/menu-star.png) no-repeat center center;
    position: relative;
    text-decoration: none;
    margin-right: 15px;
}
.header__right-big__container__item2 {
    background: #57b5bb url(../img/menu-calc.png) no-repeat center center;
    margin-right: 85px;
}
.header__right-big__container__item3 {
    background: #57b5bb url(../img/menu-loop.png) no-repeat center right 14px;
    cursor: pointer;
    position: absolute;
    right: 0;
    transition: .5s;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 26px;
}
.header__right-big__container__item3-active {
    width: 690px;
    padding-left: 20px;
    padding-right: 45px;
}
.header__right-big {
    display: flex;
}
.header__right-big__container__item_counter {
    background: #fff;
    color: #1c2840;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__right-big__container {
    display: flex;
    position: relative;
    margin-right: 55px;
}
.default-dropdown:hover .default-dropdown_ul {
    display: block;
}