@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
.position-relative {
    position: relative;
}
.header {
    height: 115px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.header-wrapper {
    margin: 0 auto;
    width: 1230px;
    position: relative;
    height: 100%;
}
.header > .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__menu-checkbox {
    display: none;
}
.header__menu_btn {
    margin-left: 35px;
    cursor: pointer;
    display: none;
}
.header__center {
    display: flex;
}
.header__center__lists {
    margin-right: 25px;
}
.header__center__lists_li {
    color: #1c2840;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
}
.header__center__lists_li:nth-child(2) {
    margin-top: 10px;
}
.header__center__lists_li-right {
    list-style: none;
}
.header__center__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
}
.header__center__social_link {
    margin-right: 8px;
}
.header__center__social_link:last-child {
    margin-right: 0;
}
.header__center__lists_li-right_link {
    color: #355b91;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.header__center__lists_li-right:nth-child(2) {
    margin-top: 6px;
}
.header__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__right.one {
    margin-right: 40px;
}
.header__right.one img:nth-child(2) {
    margin-top: 13px;
}
.header__right_img {
    width: 58px;
    height: 16px;
}
.header__right_img:nth-child(2)  {
    margin-top: 20px;
    width: 57px;
    height: 35px;
}
.header__right-big {
    display: flex;
}
.header__menu {
    z-index: 11;
    position: absolute;
    width: 100%;
}
.header-menu-list {
    display: flex;
    justify-content: space-between;
}
.header-menu-item:hover {
    background: #57b5bb;
}

.header-menu-item:hover .header-menu-item-link {
    color: #fff;
}
.header-menu-item-link {
    text-decoration: none;
    color: #355b91;
    font-weight: 500;
    padding: 10px;
    display: block;
}

.header__menu {
    background: #fff;
    height: 36px;
}
.header-menu-list {
    position: relative;
}
.header-in-container {
    position: absolute;
    background: #57b5bb;
    width: 100%;
    display: none;
    height: 255px;
    left: 0;

}
.header-menu-item:hover .header-in-container {
    display: flex;
}
.header-menu-item-in {
    margin-top: 15px;
    margin-bottom: 15px;
}
.header-menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    padding-left: 30px;
    white-space: nowrap;
    padding-right: 30px;
}

.header-ask-a-question-text {
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.header-ask-a-question-btn {
    border: 1px solid #fff;
    width: 220px;
    height: 50px;
    font-size: 20px;
    font-weight: 100;
    background: transparent;
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
}
.header-ask-a-question {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-ask-a-question_blue {
    background: #095B93;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    width: 30%;
}

.header-menu-list-in {
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 23.33%;
}
.header-360 {
    width: 50%;
    background: url(../img/bllllllllllll.jpg) no-repeat center center / cover;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-360-play {
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.header-360-play-ing {
    margin-left: 10px;
}
.header-360-play-text {
    font-weight: 500;
    font-size: 35px;
    color: #fff;
}
.header-360-play-text span {
    text-transform: uppercase;
    font-size: 70px;
}
.header__menu__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(28, 40, 64, .95);
    z-index: 5000000;
    overflow: auto;
}
.header__menu_cross {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header-in-container_mini {
    left: 0;
    width: auto;
}
.header__mobile-list {
    padding-top: 20px;
    overflow: auto;
}

.header__mobile-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header__mobile-item.active {
    background: #09b0b6;
}
.header__mobile-link {
    width: calc(640px - 34px);
    font-size: 20px;
    line-height: 52px;
    color: #fff;
    text-decoration: none;
}
.header__mobile-item-arrow {
    box-sizing: initial;
    padding: 22px 10px;
    width: 14px;
    height: 8px;
    transition: .3s;
}
.header__mobile-item-arrow.active {
    transform: rotate(180deg);
}
.header__mobile-list-in {
    width: 100%;
    display: none;
}
.header__mobile-link-in {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 32px;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
}
.header__mobile-item-in {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1250px) {
    .header__menu {
        display: none;
    }

    .header__menu_btn {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .header__mobile-link {
        width: calc(285px - 34px);
    }
    .header__mobile-item-in {
        width: 285px;
        margin-left: auto;
        margin-right: auto;
    }
}



